<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Create</title>
  </head>
  <body>
    <nav>
      <a href="/">Home</a>
      <a href="/cars/create">Add New Car</a>
      <a href="/cars/view">View all Cars</a>
      <a href="/cars/update">Update car</a>
      <a href="/cars/delete">Delete car</a>
    </nav>

    <h1>this is Cars Create page</h1>
    <h2>Add a New Car!</h2>

    <form action="/cars/create" method="POST">
      <label for="make">Make:</label>
      <input type="text" name="make" id="make" required />

      <label for="model">Model:</label>
      <input type="text" name="model" id="model" required />

      <label for="year">Year:</label>
      <input type="number" name="year" id="year" required />

      <label for="mileage">Mileage:</label>
      <input type="number" name="mileage" id="mileage" required />

      <label for="color">Color:</label>
      <input type="text" name="color" id="color" required />

      <label for="price">Price:</label>
      <input type="number" name="price" id="price" required />

      <button type="submit">Add New Car</button>
    </form>
  </body>
</html>
